@charset "UTF-8";

.uni-popup[data-v-3006f50a] {
    position: fixed;
    z-index: 99
}

.uni-popup.top[data-v-3006f50a],
.uni-popup.left[data-v-3006f50a],
.uni-popup.right[data-v-3006f50a] {
    top: var(--window-top)
}

.uni-popup .uni-popup__wrapper[data-v-3006f50a] {
    display: block;
    position: relative
}

.uni-popup .uni-popup__wrapper.left[data-v-3006f50a],
.uni-popup .uni-popup__wrapper.right[data-v-3006f50a] {
    padding-top: var(--window-top);
    flex: 1
}

.fixforpc-z-index[data-v-3006f50a] {
    z-index: 999
}

.fixforpc-top[data-v-3006f50a] {
    top: 0
}

/* a 标签默认效果 */
._a[data-v-51130a2d] {
    padding: 1.5px 0 1.5px 0;
    color: #366092;
    word-break: break-all
}

/* a 标签点击态效果 */
._hover[data-v-51130a2d] {
    text-decoration: underline;
    opacity: .7
}

/* 图片默认效果 */
._img[data-v-51130a2d] {
    max-width: 100%;
    -webkit-touch-callout: none
}

/* 内部样式 */
._block[data-v-51130a2d] {
    display: block
}

._b[data-v-51130a2d],
._strong[data-v-51130a2d] {
    font-weight: 700
}

._code[data-v-51130a2d] {
    font-family: monospace
}

._del[data-v-51130a2d] {
    text-decoration: line-through
}

._em[data-v-51130a2d],
._i[data-v-51130a2d] {
    font-style: italic
}

._h1[data-v-51130a2d] {
    font-size: 2em
}

._h2[data-v-51130a2d] {
    font-size: 1.5em
}

._h3[data-v-51130a2d] {
    font-size: 1.17em
}

._h5[data-v-51130a2d] {
    font-size: .83em
}

._h6[data-v-51130a2d] {
    font-size: .67em
}

._h1[data-v-51130a2d],
._h2[data-v-51130a2d],
._h3[data-v-51130a2d],
._h4[data-v-51130a2d],
._h5[data-v-51130a2d],
._h6[data-v-51130a2d] {
    display: block;
    font-weight: 700
}

._image[data-v-51130a2d] {
    height: 1px
}

._ins[data-v-51130a2d] {
    text-decoration: underline
}

._li[data-v-51130a2d] {
    display: list-item
}

._ol[data-v-51130a2d] {
    list-style-type: decimal
}

._ol[data-v-51130a2d],
._ul[data-v-51130a2d] {
    display: block;
    padding-left: 40px;
    margin: 1em 0
}

._q[data-v-51130a2d]::before {
    content: '"'
}

._q[data-v-51130a2d]::after {
    content: '"'
}

._sub[data-v-51130a2d] {
    font-size: smaller;
    vertical-align: sub
}

._sup[data-v-51130a2d] {
    font-size: smaller;
    vertical-align: super
}

._thead[data-v-51130a2d],
._tbody[data-v-51130a2d],
._tfoot[data-v-51130a2d] {
    display: table-row-group
}

._tr[data-v-51130a2d] {
    display: table-row
}

._td[data-v-51130a2d],
._th[data-v-51130a2d] {
    display: table-cell;
    vertical-align: middle
}

._th[data-v-51130a2d] {
    font-weight: 700;
    text-align: center
}

._ul[data-v-51130a2d] {
    list-style-type: disc
}

._ul ._ul[data-v-51130a2d] {
    margin: 0;
    list-style-type: circle
}

._ul ._ul ._ul[data-v-51130a2d] {
    list-style-type: square
}

._abbr[data-v-51130a2d],
._b[data-v-51130a2d],
._code[data-v-51130a2d],
._del[data-v-51130a2d],
._em[data-v-51130a2d],
._i[data-v-51130a2d],
._ins[data-v-51130a2d],
._label[data-v-51130a2d],
._q[data-v-51130a2d],
._span[data-v-51130a2d],
._strong[data-v-51130a2d],
._sub[data-v-51130a2d],
._sup[data-v-51130a2d] {
    display: inline
}

/* 根节点样式 */
._root[data-v-5594bfb4] {
    padding: 1px 0;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch
}

/* 长按复制 */
._select[data-v-5594bfb4] {
    -webkit-user-select: text;
    user-select: text
}