.uni-app--showtabbar uni-page-wrapper {
    display: block;
    height: calc(100% - 60px);
    height: calc(100% - 60px - constant(safe-area-inset-bottom));
    height: calc(100% - 60px - env(safe-area-inset-bottom));
}

.uni-app--showtabbar uni-page-wrapper::after {
    content: "";
    display: block;
    width: 100%;
    height: 60px;
    height: calc(60px + constant(safe-area-inset-bottom));
    height: calc(60px + env(safe-area-inset-bottom));
}

.uni-app--showtabbar uni-page-head[uni-page-head-type="default"] ~ uni-page-wrapper {
    height: calc(100% - 44px - 60px);
    height: calc(100% - 44px - constant(safe-area-inset-top) - 60px - constant(safe-area-inset-bottom));
    height: calc(100% - 44px - env(safe-area-inset-top) - 60px - env(safe-area-inset-bottom));
}