.my_aid {
    margin: 0 15px;
    margin-top: 10px;
}

.feimgpopup {
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

.feimgpopup section {
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    /* width: 80%; */
    display: flex;
    /* height: 80%; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    align-items: center;
    justify-content: center;
}

.feimgpopup section img {
    display: block;
    /* width: 50%; */
    max-width: 80%;
    /* height: 90%; */
    /* object-fit: cover; */
    border: 5px solid #fff;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-radius: 10px;
    animation: fadeInLeft 0.2s alternate;
    transition: all 0.3s ease-in-out;
}

.feimgpopup section img:active {
    transform: scale(1.3, 1.3);
}

.feimgpopup section i {
    position: absolute;
    font-size: 30px;
    top: -10px;
    right: -15px;
    color: #f20000;
}

.my_fix_icon {
    position: fixed;
    right: 10px;
    bottom: 90px;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.my_fix_icon a {
    animation: fadeInRight 0.2s linear;
    display: flex;
    align-items: center;
    color: #fff;
    opacity: 0.95;
    padding: 10px;
    font-size: 12px;
    flex-direction: column;
}

.my_fix_icon a:hover {
    opacity: 1;
}

.my_fix_icon img {
    width: 28px;
    margin-bottom: 3px;
}

.my_fix_icon1 {
    background: linear-gradient(135deg, var(--t) 0%, var(--pb) 100%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin-bottom: 7px;
}

.my_fix_icon2 {
    background: linear-gradient(135deg, var(--pb) 0%, var(--t) 100%);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 30px;

}

/* .my_fix_icon2 img {
    animation: Bell_Ring 2s linear infinite;
}

.my_fix_icon3 img {
    animation: Bell_Ring 3s linear infinite;
} */

.my_post_body {
    margin: 15px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 150px;
    border-radius: 7px;
    padding: 10px;
    background: linear-gradient(180deg, var(--p) 0%, var(--pb) 100%);
    box-shadow: 0 2px 1px rgb(0 0 0 / 5%);
}

.my_post_box1 {
    display: flex;
    align-items: center;

}

.my_post_box1 dd {
    flex: 1;
    display: flex;
    align-items: center;
}

.my_post_box1 dd img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.my_post_box1 dd dl {
    text-align: left;
    padding-left: 10px;
}

.my_post_box1 dd dl h4 {
    font-size: 18px;
    color: var(--t3);
    font-weight: 400;
    padding-bottom: 2px;
}

.my_post_box1 dd dl p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.3);
}

.my_post_box1 nav b {
    font-size: 16px;
    color: var(--t3);
    font-weight: 400;
    font-family: 'Roboto Slab';
}

.my_post_box1 nav b i {
    font-size: 12px;
    margin-right: 2px;
}

.my_post_box2 {
    padding: 5px 10px;
    /* margin-left: 50px; */
}

.my_post_box2_t {
    text-align: left;
    font-size: 14px;
    line-height: 18px;
    color: rgba(255, 255, 255, .8);
    padding-top: 2px;
    padding-bottom: 5px;
}

.my_post_box2_date {
    text-align: left;
    font-style: italic;
    font-size: 12px;
    color: var(--t5);
    padding-top: 5px;
}

.my_post_box2_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my_post_box2_img section {
    flex: 1 0 30%;
    padding-right: 10px;
}

.my_post_box2_img section:nth-child(even) {
    padding-right: 0;
}

.my_post_box2_img section img {
    display: block;
    width: 100%;
}

#img-popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(30, 30, 30, 0.2);
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

#img-popup.active {
    display: flex;
}

#popup-img {
    max-width: 70vw;
    max-height: 75vh;
    border: 4px solid #fff;
    border-radius: 7px;
    transition: ease-in-out 0.2s all;
}

#img-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #f20000;
    font-size: 50px;
    cursor: pointer;
    z-index: 10;
}

#img-popup .prev-btn,
#img-popup .next-btn {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 6px;
    transition: background 0.2s;
    background: linear-gradient(180deg, var(--p) 0%, var(--pb) 100%);
}

#img-popup .prev-btn:hover,
#img-popup .next-btn:hover,
#img-popup .close-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

#popup-img:active {
    transform: scale(1.2);

}