.pop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #35C75A30;
    z-index: 999;
    transition: .4s;
}
.popContainer {
    width: 85%;
    height: 200px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 5px;
}
.popHeader {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #0000001f;
    background: transparent;
    text-align: center;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}
.popFooter {
    height: 20%;
    width: 100%;
    border-top: 1px solid #0000001f;
    /*background: ##35C75A;*/
    border-radius: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popBody {
    height: 60%;
    width: 100%;
    padding: 10px 0;
}
.popFooter .popBtn {
    width: 100%;
    border: none;
    color: #000;
    height: 100%;
    display: block;
    padding: 13px 0;
    background: #35C75A;
    color: #fff;
}
.popBody h3 {
    text-align: center;
    color: #35C75A;
}
.popBody ol {
    list-style: circle;
    margin-top: 5px;
}
.popBody ol li {
    font-size: 12px;
}

.product-list[data-v-1c49ced6] {
    background: transparent;
    margin: 0;
}
.rounder {
    background: #fff;
    box-shadow: 0px 3px 5px #0003;
    border-radius: 6px;
    text-align: center;
    width: 49%;
    float: left;
}
.bbBtn {
    background: #35C75A;
    border: none;
    padding: 7px 19px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
}
.product-list-item[data-v-1c49ced6] {
    padding: 16px 9px;
}
h3.egbxyahv {
    margin: 15px 0;
    font-size: 18px;
    color: #35C75A;
}
p.egbxsdfeyahv {
    color: #00000082;
}
.egbxya10hv {
    font-size: 12px;
}
h1.pkjn {
    color: #35C75A;
    margin: 11px 0;
}
.products-page-header {
    padding-top: 10px;
}
