
.van-col--1 {
    width: 4.16666667%
}

.van-col--offset-1 {
    margin-left: 4.16666667%
}

.van-col--2 {
    width: 8.33333333%
}

.van-col--offset-2 {
    margin-left: 8.33333333%
}

.van-col--3 {
    width: 12.5%
}

.van-col--offset-3 {
    margin-left: 12.5%
}

.van-col--4 {
    width: 16.66666667%
}

.van-col--offset-4 {
    margin-left: 16.66666667%
}

.van-col--5 {
    width: 20.83333333%
}

.van-col--offset-5 {
    margin-left: 20.83333333%
}

.van-col--6 {
    width: 25%
}

.van-col--offset-6 {
    margin-left: 25%
}

.van-col--7 {
    width: 29.16666667%
}

.van-col--offset-7 {
    margin-left: 29.16666667%
}

.van-col--8 {
    width: 33.33333333%
}

.van-col--offset-8 {
    margin-left: 33.33333333%
}

.van-col--9 {
    width: 37.5%
}

.van-col--offset-9 {
    margin-left: 37.5%
}

.van-col--10 {
    width: 41.66666667%
}

.van-col--offset-10 {
    margin-left: 41.66666667%
}

.van-col--11 {
    width: 45.83333333%
}

.van-col--offset-11 {
    margin-left: 45.83333333%
}

.van-col--12 {
    width: 50%
}

.van-col--offset-12 {
    margin-left: 50%
}

.van-col--13 {
    width: 54.16666667%
}

.van-col--offset-13 {
    margin-left: 54.16666667%
}

.van-col--14 {
    width: 58.33333333%
}

.van-col--offset-14 {
    margin-left: 58.33333333%
}

.van-col--15 {
    width: 62.5%
}

.van-col--offset-15 {
    margin-left: 62.5%
}

.van-col--16 {
    width: 66.66666667%
}

.van-col--offset-16 {
    margin-left: 66.66666667%
}

.van-col--17 {
    width: 70.83333333%
}

.van-col--offset-17 {
    margin-left: 70.83333333%
}

.van-col--18 {
    width: 75%
}

.van-col--offset-18 {
    margin-left: 75%
}

.van-col--19 {
    width: 79.16666667%
}

.van-col--offset-19 {
    margin-left: 79.16666667%
}

.van-col--20 {
    width: 83.33333333%
}

.van-col--offset-20 {
    margin-left: 83.33333333%
}

.van-col--21 {
    width: 87.5%
}

.van-col--offset-21 {
    margin-left: 87.5%
}

.van-col--22 {
    width: 91.66666667%
}

.van-col--offset-22 {
    margin-left: 91.66666667%
}

.van-col--23 {
    width: 95.83333333%
}

.van-col--offset-23 {
    margin-left: 95.83333333%
}

.van-col--24 {
    width: 100%
}

.van-col--offset-24 {
    margin-left: 100%
}

.van-count-down {
    color: #323233;
    font-size: 14px;
    line-height: 20px
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0
}

.flex {
    display: flex
}

.flex-1 {
    flex: 1
}

.flex-col {
    flex-direction: column
}

.flex-row {
    flex-direction: row
}

.justify-center {
    justify-content: center
}

.justify-start {
    justify-content: start
}

.justify-end {
    justify-content: end
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.items-center {
    align-items: center
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

.w-full {
    width: 100%
}

.h-full {
    height: 100%
}

.bold {
    font-weight: 700
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

input:focus {
    border: none !important;
    outline: none !important;
    outline-offset: 2px
}

input::-moz-placeholder {
    color: rgba(26, 26, 26, .8)
}

input::placeholder {
    color: rgba(26, 26, 26, .8)
}

.input-autofill {
    border: 1px solid hsla(0, 0%, 100%, .1)
}

.input-autofill:-webkit-autofill {
    -webkit-text-fill-color: #1a1a1a;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 1000px #fff
}

.input-autofill:-moz-autofill {
    -webkit-text-fill-color: #1a1a1a;
    background-color: #fff
}

body {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre {
    font-family: inherit;
    font-size: inherit
}

.deposit-page {
    background-color: #35C75A;
    color: #1a1a1a;
    min-height: 100vh
}

.deposit-page-header {
    background-color: #35C75A !important
}

.deposit-page-content {
    padding: 80px 16px 128px
}

.deposit-page-content-title {
    color: #fff
}

.deposit-page-content-amount {
    border-radius: 20px;
    margin-bottom: 24px;
    padding: 24px 0
}

.deposit-page-content-amount-title {
    color: #fff;
    margin-top: 8px
}

.deposit-page-content-amount-choose {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    display: grid;
    grid-template-columns:repeat(3, 1fr)
}

.deposit-page-content-amount-choose-title {
    color: #fff;
    margin-top: 32px
}

.deposit-page-content-amount-choose-item {
    background: #eaeeff;
    border-radius: 14px;
    font-weight: 700;
    padding: 16px
}

.deposit-page-content-amount-choose-item.active {
    color: #35C75A
}

.deposit-page-content-amount-choose-item .icon {
    position: absolute;
    right: 0;
    top: 0
}

.deposit-page-content-input {
    align-items: center;
    background: #fff;
    border-radius: 12px;
    color: #35C75A;
    display: flex;
    font-size: 32px;
    font-weight: 700;
    height: 72px;
    margin-top: 4px;
    overflow: hidden;
    padding: 16px
}

.deposit-page-content-input input {
    background: inherit;
    border: none;
    color: #35C75A;
    font-size: 32px;
    font-weight: 700;
    height: 60px
}

.deposit-page-content-input input::-moz-placeholder {
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700;
    opacity: .5
}

.deposit-page-content-input input::placeholder {
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700;
    opacity: .5
}

.deposit-page-content-select-item {
    background: #fff;
    border: 1px solid rgba(0, 0, 160, .2);
    border-radius: 20px;
    font-weight: 700;
    margin-top: 16px;
    padding: 16px;
    position: relative
}

.deposit-page-content-select-item-name {
    color: #4d5356;
    font-size: 12px
}

.deposit-page-content-select-item .icon {
    position: absolute;
    right: 0;
    top: 0
}

.deposit-page-content-select-item.active {
    color: #35C75A
}

.deposit-page-bottom {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: linear-gradient(217deg, #fcfcfd -.01%, rgba(252, 252, 253, .6));
    background: var(--glass-light, linear-gradient(217deg, #fcfcfd -.01%, rgba(252, 252, 253, .6) 100%));
    border-radius: 16px 16px 0 0;
    bottom: 0;
    padding: 16px 22px
}

.deposit-page-bottom button {
    background: #35C75A;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    height: 50px
}

.__nuxt-error-page {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    align-items: center;
    background: #f7f8fb;
    bottom: 0;
    color: #47494e;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-weight: 100 !important;
    justify-content: center;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0
}

.__nuxt-error-page .error {
    max-width: 450px
}

.__nuxt-error-page .title {
    color: #47494e;
    font-size: 1.5rem;
    margin-bottom: 8px;
    margin-top: 15px
}

.__nuxt-error-page .description {
    color: #7f828b;
    line-height: 21px;
    margin-bottom: 10px
}

.__nuxt-error-page a {
    color: #7f828b !important;
    -webkit-text-decoration: none;
    text-decoration: none
}

.__nuxt-error-page .logo {
    bottom: 12px;
    left: 12px;
    position: fixed
}

body[data-v-3d11c917] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-3d11c917] {
    font-family: inherit;
    font-size: inherit
}

.header-wrapper[data-v-3d11c917] {
    z-index: 10
}

.header[data-v-3d11c917] {
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 56px;
    padding: 32px 16px 16px
}

.header.light[data-v-3d11c917] {
    background: #073692;
    color: #fff
}

.header.dark[data-v-3d11c917] {
    background: #eaeeff;
    color: #1a1a1a
}

.header.primary[data-v-3d11c917] {
    background: #35C75A;
    color: #fff
}

.left[data-v-3d11c917] {
    left: 12px;
    top: 24px
}

.right[data-v-3d11c917] {
    right: 12px;
    top: auto
}

.title[data-v-3d11c917] {
    font-size: 20px;
    text-align: center
}

body[data-v-3d9a385b] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-3d9a385b] {
    font-family: inherit;
    font-size: inherit
}

.button[data-v-3d9a385b] {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    height: 54px;
    padding: 10px 20px
}

.button .nexticon[data-v-3d9a385b] {
    background: #fff;
    background: var(--ffffff, #fff);
    border-radius: 60px;
    padding: 6px;
    right: 6px;
    top: auto
}

.button.small[data-v-3d9a385b] {
    border-radius: 52px;
    height: 48px
}

.button.large[data-v-3d9a385b] {
    height: 60px
}

.button.disabled[data-v-3d9a385b] {
    background-color: rgba(77, 83, 86, .5);
    color: #fff
}

.button.button-primary[data-v-3d9a385b]:not(.disabled) {
    background: #35C75A;
    color: #fff
}

.button.button-primary[data-v-3d9a385b]:not(.disabled):hover {
    background-color: rgba(0, 0, 160, .5);
    color: #fff
}

.button.button-secondary[data-v-3d9a385b]:not(.disabled) {
    background-color: rgba(0, 0, 160, .2);
    color: #35C75A
}

.button.button-secondary[data-v-3d9a385b]:not(.disabled):hover {
    background-color: #35C75A;
    color: #fff
}

.button.button-dashed[data-v-3d9a385b]:not(.disabled) {
    background-color: rgba(0, 0, 160, .1);
    color: #35C75A
}

.button.button-link[data-v-3d9a385b] {
    background-color: inherit;
    color: #35C75A;
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.button.button-link[data-v-3d9a385b]:disabled {
    color: rgba(77, 83, 86, .5)
}

.button.button-text[data-v-3d9a385b] {
    background-color: inherit;
    color: #35C75A
}

.button.button-text[data-v-3d9a385b]:disabled {
    color: rgba(77, 83, 86, .5)
}

body[data-v-002a3f5f] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-002a3f5f] {
    font-family: inherit;
    font-size: inherit
}

.input-container[data-v-002a3f5f] {
    position: relative
}

.input-container label[data-v-002a3f5f], .input-container.light label[data-v-002a3f5f] {
    color: #4d5356
}

.input-container.dark .input-field[data-v-002a3f5f], .input-container.dark label[data-v-002a3f5f], .input-container.light .input-field[data-v-002a3f5f] {
    color: #1a1a1a
}

.input-container .input-label[data-v-002a3f5f] {
    display: block;
    margin-bottom: 5px
}

.input-container .input-content[data-v-002a3f5f] {
    background: inherit;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 8px;
    overflow: auto;
    padding: 24px 0;
    position: relative
}

.input-container .input-field[data-v-002a3f5f] {
    background-color: inherit;
    border: none;
    font-size: 20px;
    font-weight: 700
}

.input-container .input-field.hasPre[data-v-002a3f5f] {
    padding-left: 28px
}

.input-container .input-field.hasSuff[data-v-002a3f5f] {
    padding-right: 36px
}

.input-container .prefix-icon[data-v-002a3f5f] {
    left: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.input-container .suffix-icon[data-v-002a3f5f] {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%)
}
