html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0
}

.flex {
    display: flex
}

.flex-1 {
    flex: 1
}

.flex-col {
    flex-direction: column
}

.flex-row {
    flex-direction: row
}

.justify-center {
    justify-content: center
}

.justify-start {
    justify-content: start
}

.justify-end {
    justify-content: end
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.items-center {
    align-items: center
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

.w-full {
    width: 100%
}

.h-full {
    height: 100%
}

.bold {
    font-weight: 700
}


body pre {
    font-family: inherit;
    font-size: inherit
}

.products-page {
    background: #eaeeff;
    min-height: 100vh
}

.products-page-header {
    background: #35C75A;
    padding: 60px 16px 0
}

.products-page-header-tabs {
    grid-column-gap: 8px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    margin-bottom: -1px
}

.products-page-header-tabs > div {
    background: rgba(234, 238, 255, .2);
    border-radius: 16px 16px 0 0;
    color: hsla(0, 0%, 100%, .5);
    font-weight: 700;
    padding: 16px 0;
    text-align: center
}

.products-page-header-tabs > div.active {
    background: #eaeeff;
    color: #35C75A
}

.products-page-content {
    padding: 16px 0 100px
}

.products-page-content::-webkit-scrollbar {
    display: none
}

.products-page-popup {
    border-radius: 16px 16px 0 0;
    color: #1a1a1a;
    height: 80%
}

.products-page-popup::-webkit-scrollbar {
    display: none
}

.products-page-popup-content {
    padding: 24px 16px
}

.products-page-popup-content-name .name {
    font-weight: 600
}

.products-page-popup-content-name .vip span {
    background-color: rgba(0, 0, 160, .2);
    border-radius: 40px;
    color: #35C75A;
    font-size: 12px;
    font-weight: 600;
    margin-left: -20px;
    padding: 0 10px 0 30px
}

.products-page-popup-content .item {
    font-size: 14px;
    margin-top: 4px
}

.products-page-popup-content .item .label {
    color: #4d5356
}

.products-page-popup-content .item.unitPrice, .products-page-popup-content .item.unitPrice .label {
    color: #35C75A;
    font-size: 18px;
    font-weight: 500
}

.products-page-popup-content .stepper {
    margin-top: 16px
}

.products-page-popup-content .stepper .quantity {
    color: #35C75A;
    font-weight: 500;
    width: 50%
}

.products-page-popup .btn {
    grid-gap: 16px;
    bottom: 24px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    margin-bottom: 24px;
    padding: 0 16px
}

.products-page-error-content {
    background: linear-gradient(0deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), hsla(0, 0%, 99%, .8);
    border-radius: 12px;
    padding: 24px;
    width: 80%
}

.products-page-error-content .title {
    color: #1a1a1a;
    margin: 16px 0 8px
}

.products-page-error-content.error .content {
    color: #ff2e00
}.__nuxt-error-page {
                             -ms-text-size-adjust: 100%;
                             -webkit-text-size-adjust: 100%;
                             -webkit-font-smoothing: antialiased;
                             align-items: center;
                             background: #f7f8fb;
                             bottom: 0;
                             color: #47494e;
                             display: flex;
                             flex-direction: column;
                             font-family: sans-serif;
                             font-weight: 100 !important;
                             justify-content: center;
                             left: 0;
                             padding: 1rem;
                             position: absolute;
                             right: 0;
                             text-align: center;
                             top: 0
                         }

.__nuxt-error-page .error {
    max-width: 450px
}

.__nuxt-error-page .title {
    color: #47494e;
    font-size: 1.5rem;
    margin-bottom: 8px;
    margin-top: 15px
}

.__nuxt-error-page .description {
    color: #7f828b;
    line-height: 21px;
    margin-bottom: 10px
}

.__nuxt-error-page a {
    color: #7f828b !important;
    -webkit-text-decoration: none;
    text-decoration: none
}

.__nuxt-error-page .logo {
    bottom: 12px;
    left: 12px;
    position: fixed
}

body[data-v-3d9a385b] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-3d9a385b] {
    font-family: inherit;
    font-size: inherit
}

.button[data-v-3d9a385b] {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    height: 54px;
    padding: 10px 20px
}

.button .nexticon[data-v-3d9a385b] {
    background: #fff;
    background: var(--ffffff, #fff);
    border-radius: 60px;
    padding: 6px;
    right: 6px;
    top: auto
}

.button.small[data-v-3d9a385b] {
    border-radius: 52px;
    height: 48px
}

.button.large[data-v-3d9a385b] {
    height: 60px
}

.button.disabled[data-v-3d9a385b] {
    background-color: rgba(77, 83, 86, .5);
    color: #fff
}

.button.button-primary[data-v-3d9a385b]:not(.disabled) {
    background: #35C75A;
    color: #fff
}

.button.button-primary[data-v-3d9a385b]:not(.disabled):hover {
    background-color: rgba(0, 0, 160, .5);
    color: #fff
}

.button.button-secondary[data-v-3d9a385b]:not(.disabled) {
    background-color: rgba(0, 0, 160, .2);
    color: #35C75A
}

.button.button-secondary[data-v-3d9a385b]:not(.disabled):hover {
    background-color: #35C75A;
    color: #fff
}

.button.button-dashed[data-v-3d9a385b]:not(.disabled) {
    background-color: rgba(0, 0, 160, .1);
    color: #35C75A
}

.button.button-link[data-v-3d9a385b] {
    background-color: inherit;
    color: #35C75A;
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.button.button-link[data-v-3d9a385b]:disabled {
    color: rgba(77, 83, 86, .5)
}

.button.button-text[data-v-3d9a385b] {
    background-color: inherit;
    color: #35C75A
}

.button.button-text[data-v-3d9a385b]:disabled {
    color: rgba(77, 83, 86, .5)
}
body[data-v-1c49ced6] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-1c49ced6] {
    font-family: inherit;
    font-size: inherit
}

.product-list[data-v-1c49ced6] {
    background: #fff;
    border-radius: 16px;
    color: #1a1a1a;
    height: 100%;
    margin: 0 16px;
    padding: 0 16px
}

.product-list-wrapper[data-v-1c49ced6] {
    overflow: hidden
}

.product-list-item[data-v-1c49ced6] {
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
    padding: 16px 0
}

.product-list-item-content[data-v-1c49ced6] {
    margin-left: 16px
}

.product-list-item-content-name[data-v-1c49ced6] {
    margin-top: 8px
}

.product-list-item-content-name .name[data-v-1c49ced6] {
    font-weight: 600
}

.product-list-item-content .item[data-v-1c49ced6] {
    font-size: 14px;
    margin-top: 4px
}

.product-list-item-content .item .label[data-v-1c49ced6] {
    color: #4d5356;
    font-size: 10px
}

.product-list-item-content .item .value[data-v-1c49ced6] {
    color: #4d5356;
    font-size: 10px;
    margin-left: 4px
}

.product-list-item-content .item.unitPrice[data-v-1c49ced6], .product-list-item-content .item.unitPrice .label[data-v-1c49ced6], .product-list-item-content .item.unitPrice .value[data-v-1c49ced6] {
    color: #35C75A;
    font-size: 14px
}

.product-list-item-content .describe[data-v-1c49ced6] {
    color: #4d5356;
    margin-top: 4px
}

.product-list-item .btn[data-v-1c49ced6] {
    background: #35C75A;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px
}

.product-list-item .btn.disabled[data-v-1c49ced6] {
    background: #d5dde0
}

.product-list-item .top[data-v-1c49ced6] {
    border: .5px solid #d5dde0;
    border-radius: 12px;
    overflow: hidden
}

.product-list-item .top > svg[data-v-1c49ced6] {
    bottom: 16px;
    position: absolute;
    right: 16px
}

.product-list-item .top .vip[data-v-1c49ced6] {
    background: #35C75A;
    border-radius: 12px 0;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    left: 0;
    padding: 6px;
    top: 0
}

.product-list-item .top img[data-v-1c49ced6] {
    height: 100%;
    width: 100%
}

.product-list-item .top .purchased[data-v-1c49ced6] {
    background: #fff;
    border-radius: 6px;
    bottom: 0;
    font-size: 10px;
    padding: 4px;
    right: 0
}

.product-list-item .top .purchased.disabled[data-v-1c49ced6] {
    display: none
}

.product-list-item.disabled[data-v-1c49ced6] {
    background: hsla(0, 0%, 100%, .5);
    opacity: .5
}

body[data-v-3a065dce] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-3a065dce] {
    font-family: inherit;
    font-size: inherit
}

.order-list[data-v-3a065dce] {
    background: #eaeeff;
    color: #1a1a1a;
    padding: 0 16px
}

.order-list-item[data-v-3a065dce] {
    background: #fff;
    border-radius: 20px;
    color: #1a1a1a;
    margin-bottom: 16px;
    overflow: hidden;
    padding: 16px
}

.order-list-item-divide[data-v-3a065dce] {
    background: #e1e1e1;
    height: inherit;
    margin: 0 8px;
    width: 1px
}

.order-list-item-content-name[data-v-3a065dce] {
    margin-top: 8px
}

.order-list-item-content-name .name[data-v-3a065dce] {
    font-weight: 600
}

.order-list-item-content .item[data-v-3a065dce] {
    color: #4d5356;
    font-size: 14px;
    margin-top: 4px
}

.order-list-item-content .item.unitPrice[data-v-3a065dce], .order-list-item-content .item.unitPrice .label[data-v-3a065dce] {
    font-size: 16px;
    font-weight: 500
}

.order-list-item-content .item.amount .label[data-v-3a065dce] {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600
}

.order-list-item-content .item.amount .value[data-v-3a065dce] {
    color: #35C75A;
    font-size: 16px
}

.order-list-item-content .describe[data-v-3a065dce] {
    color: #4d5356;
    margin-top: 4px
}

.order-list-item-content .border[data-v-3a065dce] {
    border-bottom: 1px dashed #35C75A;
    height: 1px;
    margin: 16px 0;
    width: 100%
}

.order-list-item .top[data-v-3a065dce] {
    border-radius: 12px;
    height: 150px;
    overflow: hidden
}

.order-list-item .top img[data-v-3a065dce] {
    height: 100%;
    width: 100%
}

.order-list-item .top .vip[data-v-3a065dce] {
    background: #35C75A;
    border-radius: 12px 0;
    color: #fff;
    font-weight: 500;
    left: 0;
    padding: 6px 20px;
    top: 0
}

.order-list-item .top .status[data-v-3a065dce] {
    background: #eaeeff;
    border-radius: 0 12px;
    color: #4d5356;
    font-weight: 500;
    padding: 6px 20px;
    right: 0;
    top: 0
}

.order-list-item .top .status.active[data-v-3a065dce] {
    background: #35C75A;
    color: #fff
}

body[data-v-3d11c917] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-3d11c917] {
    font-family: inherit;
    font-size: inherit
}

.header-wrapper[data-v-3d11c917] {
    z-index: 10
}

.header[data-v-3d11c917] {
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 56px;
    padding: 32px 16px 16px
}

.header.light[data-v-3d11c917] {
    background: #073692;
    color: #fff
}

.header.dark[data-v-3d11c917] {
    background: #eaeeff;
    color: #1a1a1a
}

.header.primary[data-v-3d11c917] {
    background: #35C75A;
    color: #fff
}

.left[data-v-3d11c917] {
    left: 12px;
    top: 24px
}

.right[data-v-3d11c917] {
    right: 12px;
    top: auto
}

.title[data-v-3d11c917] {
    font-size: 20px;
    text-align: center
}

body[data-v-7f952e00] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-7f952e00] {
    font-family: inherit;
    font-size: inherit
}

.svg-wrapper[data-v-7f952e00] {
    color: #fff
}
body[data-v-e4adeb2e] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-e4adeb2e] {
    font-family: inherit;
    font-size: inherit
}

.bottom-bar[data-v-e4adeb2e] {
    background-color: #fff;
    bottom: 0;
    box-shadow: inset 0 .5px 0 0 rgba(0, 0, 0, .1);
    height: 88px;
    z-index: 101
}

.bottom-bar-wrapper[data-v-e4adeb2e] {
    display: flex;
    height: 100%;
    padding: 4px
}

.bottom-bar-item[data-v-e4adeb2e] {
    color: #1a1a1a;
    flex: 1;
    height: 72px;
    width: 72px
}

.bottom-bar-item.active[data-v-e4adeb2e] {
    color: #35C75A
}
