@charset "UTF-8";
       
.tabbar[data-v-5249c4ac] {
    width: 100%;
    height: 49px;
    line-height: 49px;
    text-align: center;
    margin-top: 9px
}

.tabbar .title[data-v-5249c4ac] {
    font-size: 21px;
    width: 100%;
    font-weight: 500
}

.tabbar .back-wrap[data-v-5249c4ac] {
    position: absolute;
    height: 49px;
    width: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0
}

.tabbar .right[data-v-5249c4ac] {
    position: absolute;
    height: 49px;
    margin-right: 9px;
    right: 0;
    top: 0
}


.main[data-v-301b53f6] {
    width: 343px;
    padding: 9px 14px;
    background: #fff;
    border-radius: 7px;
    margin-top: 14px;
    box-sizing: border-box;
    padding-bottom: 24px
}

.main .form[data-v-301b53f6] {
    width: 100%;
    margin-top: 14px
}

.main .form uni-input[data-v-301b53f6] {
    width: 100%;
    height: 39px;
    border: 1px solid #f1f2f3;
    border-radius: 7px;
    margin-top: 4px;
    text-indent: 12px
}

.common-btn[data-v-301b53f6] {
    margin-top: 24px
}

.list[data-v-301b53f6] {
    width: 100%;
    max-height: calc(100vh - 98px);
    background: #fef7fe;
    border-radius: 14px 14px 0 0
}

.list .bank-title[data-v-301b53f6] {
    width: 100%;
    height: 58px;
    text-align: center;
    line-height: 58px;
    font-size: 16px
}

.list .bank-list[data-v-301b53f6] {
    width: 100%;
    max-height: calc(100vh - 171px);
    padding: 0 14px;
    box-sizing: border-box;
    padding-bottom: 24px
}

.list .bank-list .list-item[data-v-301b53f6] {
    width: 100%;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #fff
}

.list .bank-list .list-item[data-v-301b53f6]:last-child {
    border: none
}



.user-wrap[data-v-4ae790c9] {
    width: 343px;
    margin-top: 14px
}

.user-wrap .avatar[data-v-4ae790c9] {
    width: 58px;
    height: 58px;
    border-radius: 49px;
    margin-right: 14px
}

.finance[data-v-4ae790c9] {
    width: 343px;
    height: 93px;
    background: url(https://solar-turbine.com/public/static/me_bg-0ef7d93c.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 14px
}

.menu-wrap[data-v-4ae790c9] {
    width: 343px;
    margin-top: 14px
}

.menu-wrap .menu-item[data-v-4ae790c9] {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px
}

.menu-wrap .menu-item .menu-img[data-v-4ae790c9] {
    width: 56px;
    height: 56px;
    background: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center
}

.menu-wrap .menu-item uni-image[data-v-4ae790c9] {
    width: 21px
}

.tool-wrap[data-v-4ae790c9] {
    width: 343px;
    margin-top: 19px;
    background: #fff;
    border-radius: 7px;
    padding: 9px 14px;
    box-sizing: border-box
}

.tool-wrap .tool[data-v-4ae790c9] {
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #f1f2f3;
    font-size: 13px;
    font-weight: 500
}

.tool-wrap .tool .tool-icon[data-v-4ae790c9] {
    width: 19px;
    margin-right: 9px
}

.tool-wrap .tool[data-v-4ae790c9]:last-child {
    border: none
}

.logout[data-v-4ae790c9] {
    width: 343px;
    margin-top: 14px;
    height: 39px;
    background: #000;
    border-radius: 7px;
    text-align: center;
    line-height: 39px;
    margin-bottom: 49px
}