@charset "UTF-8";

.tabbar[data-v-5249c4ac] {
    width: 100%;
    height: 49px;
    line-height: 49px;
    text-align: center;
    margin-top: 9px
}

.tabbar .title[data-v-5249c4ac] {
    font-size: 21px;
    width: 100%;
    font-weight: 500
}

.tabbar .back-wrap[data-v-5249c4ac] {
    position: absolute;
    height: 49px;
    width: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0
}

.tabbar .right[data-v-5249c4ac] {
    position: absolute;
    height: 49px;
    margin-right: 9px;
    right: 0;
    top: 0
}


.empty[data-v-bb342c4c] {
    width: 245px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 73px
}

.empty uni-image[data-v-bb342c4c] {
    width: 211px;
    height: 88px
}

.tabs-wrap[data-v-70d42584] {
    width: 343px;
    height: 39px
}

.tabs-wrap .tab-item[data-v-70d42584] {
    width: 107px;
    height: 29px;
    background: #fff;
    border-radius: 29px;
    font-size: 14px
}

.tabs-wrap .active[data-v-70d42584] {
    background: #6ab84e;
    color: #fff
}

.list[data-v-70d42584] {
    width: 343px;
    padding: 14px;
    background: #fff;
    border-radius: 7px;
    margin-top: 9px;
    box-sizing: border-box
}