.header[data-v-548bf0bc] {
    width: 343px;
    margin-top: 24px
}

.header .logo[data-v-548bf0bc] {
    width: 44px;
    height: 44px;
    border-radius: 4px
}

.header .header-content[data-v-548bf0bc] {
    flex: 1;
    margin-left: 9px
}

.header .grade[data-v-548bf0bc] {
    width: 49px;
    height: 24px;
    border-radius: 4px
}

.banner[data-v-548bf0bc] {
    width: 343px;
    height: 147px;
    overflow: hidden;
    border-radius: 7px;
    margin-top: 14px
}

.banner uni-image[data-v-548bf0bc] {
    width: 343px;
    height: 147px
}

.tabs-wrap[data-v-548bf0bc] {
    width: 343px;
    height: 39px;
    margin-top: 19px;
    border-radius: 39px;
    overflow: hidden
}

.tabs-wrap .tab-item[data-v-548bf0bc] {
    flex: 1;
    height: 39px;
    text-align: center;
    line-height: 39px;
    background: #f1f2f3
}

.tabs-wrap .left[data-v-548bf0bc] {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

.tabs-wrap .right[data-v-548bf0bc] {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

.tabs-wrap .active[data-v-548bf0bc] {
    background: #2ecc71;
    color: #fff
}

.product[data-v-548bf0bc] {
    width: 343px;
    margin-top: 14px;
    background: #fff;
    border-radius: 7px;
    padding: 9px;
    box-sizing: border-box;
    position: relative
}

.product .product-top[data-v-548bf0bc] {
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 9px
}

.product .product-top .cover[data-v-548bf0bc] {
    width: 73px;
    height: 73px;
    margin-top: -9px
}

.product .product-bottom[data-v-548bf0bc] {
    margin-top: 9px
}

.product .product-bottom .common-btn[data-v-548bf0bc] {
    width: 88px;
    height: 29px;
    text-align: center;
    line-height: 29px;
    border-radius: 29px;
    font-size: 12px
}

.product .grade[data-v-548bf0bc] {
    width: 49px;
    height: 49px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 7px 0 0
}

.home-ad[data-v-548bf0bc] {
    width: 323px;
    background: #fff;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 19px
}

.home-ad .ad-logo[data-v-548bf0bc] {
    width: 117px;
    height: 83px;
    margin-top: -34px
}

.home-ad .ad-content[data-v-548bf0bc] {
    width: 294px;
    max-height: 245px;
    margin-top: 9px
}

.home-ad .common-btn[data-v-548bf0bc] {
    width: 196px;
    height: 29px;
    line-height: 29px;
    margin-top: 19px;
    font-size: 14px
}

.menu-wrap[data-v-548bf0bc] {
    width: 343px;
    margin-top: 14px
}

.menu-wrap .menu-item[data-v-548bf0bc] {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px
}

.menu-wrap .menu-item .menu-img[data-v-548bf0bc] {
    width: 56px;
    height: 56px;
    background: #fff;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center
}

.menu-wrap .menu-item uni-image[data-v-548bf0bc] {
    width: 21px
}

.product-popup[data-v-548bf0bc] {
    width: 100%;
    background: #fff;
    border-radius: 9px 9px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 14px;
    box-sizing: border-box
}

.product-popup .cover[data-v-548bf0bc] {
    width: 58px;
    height: 58px
}

.product-popup .product-info[data-v-548bf0bc] {
    width: 338px;
    height: 39px
}

.badger {
    position: absolute;
    right: 0;
    font-size: 25px;
    color: #2ecc71;
    z-index: 2;
    top: 25px;
}

.product-popup .product-info .dot[data-v-548bf0bc] {
    height: 1px;
    border-bottom: 1px dashed #2ecc71;
    margin-left: 9px;
    margin-right: 9px
}

.carousel__slide__inner {
    overflow: hidden;
    position: relative;
}

.doAnimation .slick-active .carousel__slide__inner .carousel__image {
    animation: scale-out 0.875s cubic-bezier(0.7, 0, 0.3, 1) 0.375s both;
    transform: scale(1.3);
}

.carousel__slide__overlay {
    background-color: transparent;
    background-size: 100%;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.slick-active .carousel__slide__overlay {
    animation: scale-in-hor-left 1.375s cubic-bezier(0.645, 0.045, 0.355, 1) 0.25s reverse both;
}

.carousel__image {
    height: 100%;
    object-fit: cover;
    position: relative;
    transform: scale(1);
    width: 100%;
    z-index: 1;
}

@keyframes scale-out {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes scale-in-hor-left {
    0% {
        -webkit-transform: translateX(-100%) scaleX(0);
        transform: translateX(-100%) scaleX(0);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }

    50% {
        -webkit-transform: translateX(-50%) scaleX(0.5);
        transform: translateX(-50%) scaleX(0.5);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(0) scaleX(1);
        transform: translateX(0) scaleX(1);
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        opacity: 1;
    }
}