.content[data-v-5fa82097] {
    background: #fff
}

.top[data-v-5fa82097] {
    width: 100%;
    height: 286px;
    background: url('/photo_2025-06-28_13-36-43.jpg') no-repeat;
    background-size: 100% 100%
}

.passport-tab-wrap[data-v-5fa82097] {
    width: 100%;
    height: 49px;
    margin-top: -49px;
    display: flex;
    justify-content: space-between
}

.passport-tab-wrap .tab-item[data-v-5fa82097] {
    height: 49px;
    font-size: 18px
}

.passport-tab-wrap .tab-item .tab-content[data-v-5fa82097] {
    width: 184px;
    text-align: center;
    line-height: 49px;
    position: relative
}

.passport-tab-wrap .tab-item .tab-content .dot[data-v-5fa82097] {
    width: 24px;
    height: 3px;
    background: #2dc065;
    border-radius: 4px;
    position: absolute;
    bottom: 4px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}

.passport-tab-wrap .login[data-v-5fa82097] {
    flex: 3;
    background: url('/public/static/login-tab-left-bg.png') no-repeat;
    background-size: 100% 100%;
    color: #2dc065;
    font-weight: 700
}

.passport-tab-wrap .register[data-v-5fa82097] {
    flex: 2
}

.form-wrap[data-v-5fa82097] {
    width: 333px;
    margin-top: 14px
}

.form-wrap .form-item[data-v-5fa82097] {
    width: 333px;
    margin-top: 19px
}

.form-wrap .form-item .form-content[data-v-5fa82097] {
    width: 333px;
    height: 44px;
    margin-top: 6px;
    border: 1px solid #ddd;
    border-radius: 7px;
    box-sizing: border-box;
    overflow: hidden;
    transition: border-color .3s
        /* 边框颜色变化过渡效果 */
}

.form-wrap .form-item .form-content .area[data-v-5fa82097] {
    width: 42px;
    height: 42px;
    background: #ddd;
    text-align: center;
    line-height: 42px
}

.form-wrap .form-item .form-content .form-input[data-v-5fa82097] {
    flex: 1;
    height: 42px;
    line-height: 42px;
    text-indent: 9px
}

.form-wrap .form-item .form-content[data-v-5fa82097]:focus-within {
    border-color: #2ecc71
        /* 选中输入框时的边框颜色 */
}

.form-wrap .form-item .form-content:focus-within .placeholder[data-v-5fa82097] {
    color: #2ecc71
}

.common-btn[data-v-5fa82097] {
    width: 333px;
    margin-top: 49px
}