

        .balance[data-v-0da6c41a] {
            width: 343px;
            height: 122px;
            background: url('/public/static/withdraw-edb22276.png') no-repeat;
            background-size: 100% 100%;
            margin-top: 9px;
            padding: 0 19px;
            box-sizing: border-box
        }

        .balance .title[data-v-0da6c41a] {
            height: 46px;
            line-height: 46px;
            color: #fff;
            font-size: 14px;
            font-weight: 500
        }

        .balance .amount[data-v-0da6c41a] {
            height: 75px;
            line-height: 75px
        }

        .balance .record[data-v-0da6c41a] {
            width: 73px;
            height: 29px;
            line-height: 29px;
            background: #6ab84e;
            font-size: 13px;
            text-align: center;
            border-radius: 29px;
            color: #fff
        }

        .box[data-v-0da6c41a] {
            width: 343px;
            padding: 14px;
            box-sizing: border-box;
            background: #fff;
            border-radius: 7px;
            margin-top: 14px
        }

        .box .label[data-v-0da6c41a] {
            font-size: 14px;
            font-weight: 600
        }

        .recharge-amount[data-v-0da6c41a] {
            width: 100%;
            height: 44px;
            line-height: 44px;
            border: 1px solid #eee;
            border-radius: 7px;
            margin-top: 9px;
            padding: 0 9px;
            box-sizing: border-box
        }

        .common-btn[data-v-0da6c41a] {
            margin-top: 24px;
            width: 343px
        }

        .bind-card[data-v-0da6c41a] {
            width: 343px;
            height: 147px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center
        }

        .balance .title[data-v-0da6c41a] {
            height: 46px;
            line-height: 23px;
            color: #fff;
            font-size: 14px;
            font-weight: 500;
        }

        .bind-card .common-btn[data-v-0da6c41a] {
            width: 196px;
            margin-top: 24px
        }
   