*{margin:0;padding:0;}
body{
    background-image: url(/public/v2/lottery/img/img_1.png);
    min-height: 100vh;
    background-size: 100%;
    /*background-repeat: no-repeat;*/
    position: relative;
}
.user_list{
    padding: 10px;
    border-bottom: 1px dashed hsla(0, 0%, 100%, .65);
}
.user_item{
    padding-left: 10px;
    width: 100%;
}
.user_list img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#prize-list {
    width: 100%;
    border-radius: 8px;
    background: linear-gradient(90deg, #ffe5c4, #f4b28f);
}
.prize_account{
    color: #ffffff;
}
.prize_title{
    margin-top: 5px;
    color: red;
}
.li-box .prize_title{
    color: #000;
}
.prize_date{
    color: #ffffff;
}
.prize-box {

    width: 100%;
    border: 1px dashed #f4b28f;
    border-radius: 8px;
    background: #fff;
}
.margin_bottom_10{
    margin-bottom: 10px;
}
.li-box{
    background: linear-gradient(rgb(244, 178, 143), rgb(255, 229, 196));
    text-align: center;
    width: 48%;
    margin: auto;
    border-radius: 8px;
}
.li-box .img-box{
    text-align: center;
}
.li-box img{
    width: 116px;
    height: 116px;

}
.prize-name{
    font-size: 14px;
    font-weight: 700;
}
.prize_product{
    color: red;
    margin: 10px 0;
}
#top_image {
    margin: 0 auto;
    height: auto;
    position: relative;
    width: 100%;
    text-align: center;
}
#top_image img {
    height: auto;
    width: 60%;
}
.canvas_box{
    margin:auto;
    position:unset;
    background-image: url(/public/v2/lottery/img/p_1.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: auto
    /*position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;*/
    /*overflow: hidden;*/
}
.canvas_box .can{
    position:absolute;
    left: 50%;
    top: 50%;
}
#canvas_bg{
    position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;
}
.canvas_ani{
    animation: loading 90s linear 0s infinite;
}


@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*img{display:none;}*/
#pointer{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 32px;
    height: 50px;
    margin: -56px 0 0 -16px;
}
#pointer_but{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
}
.size_ani{
    animation: size_ani 3s linear infinite;
}

.no-ani {
    animation: no-ani 3s linear infinite
}

@keyframes no-ani {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -ms-transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -ms-transform: rotate(0)
    }
}

.size_ani {
    animation: size_ani 3s linear infinite
}

@keyframes size_ani {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -ms-transform: scale(1)
    }

    25% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -ms-transform: scale(1.1)
    }

    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -ms-transform: scale(1)
    }

    75% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -ms-transform: scale(1.1)
    }

    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -ms-transform: scale(1)
    }
}
#my {
    position: absolute;
    top: 450px;
    right: 15px;
    z-index: 11;
    max-width: 100px;
    max-height: 100px;
}

#guize {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    max-width: 100px;
    max-height: 100px;
}
.up_down {
    animation: up_down 3s linear infinite
}

@keyframes up_down {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -ms-transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
        transform: translateY(20px);
        -ms-transform: translateY(20px)
    }

    to {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -ms-transform: translateY(0)
    }
}

.left_right {
    animation: left_right 3s linear infinite
}

@keyframes left_right {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -ms-transform: rotate(0)
    }

    25% {
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        transform: rotate(10deg);
        -ms-transform: rotate(10deg)
    }

    50% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -ms-transform: rotate(0)
    }

    75% {
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
        transform: rotate(-10deg);
        -ms-transform: rotate(-10deg)
    }

    to {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -ms-transform: rotate(0)
    }
}

@keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -ms-transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(1turn);
        -moz-transform: rotate(1turn);
        -o-transform: rotate(1turn);
        transform: rotate(1turn);
        -ms-transform: rotate(1turn)
    }
}
.lottery_dialog{
    width: 100%;
    height: 240px;
    background: #ffffff;
    border-radius: 16px;
    margin-top: 100px;

}
.layui-layer-page {
    box-shadow: none;
}
.lottery_winner_title_image{
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 999999;
}
.lottery_winner_title_image img{
    position: absolute;
    z-index: 999999;
    width: 100%;
    height: 150px;
    top: -70px;
    left: 0;

}
.lottery_dialog_body{
    padding-top: 40px;
    width: 100%;

    text-align: center;
}