

.van-col--1 {
    width: 4.16666667%
}

.van-col--offset-1 {
    margin-left: 4.16666667%
}

.van-col--2 {
    width: 8.33333333%
}

.van-col--offset-2 {
    margin-left: 8.33333333%
}

.van-col--3 {
    width: 12.5%
}

.van-col--offset-3 {
    margin-left: 12.5%
}

.van-col--4 {
    width: 16.66666667%
}

.van-col--offset-4 {
    margin-left: 16.66666667%
}

.van-col--5 {
    width: 20.83333333%
}

.van-col--offset-5 {
    margin-left: 20.83333333%
}

.van-col--6 {
    width: 25%
}

.van-col--offset-6 {
    margin-left: 25%
}

.van-col--7 {
    width: 29.16666667%
}

.van-col--offset-7 {
    margin-left: 29.16666667%
}

.van-col--8 {
    width: 33.33333333%
}

.van-col--offset-8 {
    margin-left: 33.33333333%
}

.van-col--9 {
    width: 37.5%
}

.van-col--offset-9 {
    margin-left: 37.5%
}

.van-col--10 {
    width: 41.66666667%
}

.van-col--offset-10 {
    margin-left: 41.66666667%
}

.van-col--11 {
    width: 45.83333333%
}

.van-col--offset-11 {
    margin-left: 45.83333333%
}

.van-col--12 {
    width: 50%
}

.van-col--offset-12 {
    margin-left: 50%
}

.van-col--13 {
    width: 54.16666667%
}

.van-col--offset-13 {
    margin-left: 54.16666667%
}

.van-col--14 {
    width: 58.33333333%
}

.van-col--offset-14 {
    margin-left: 58.33333333%
}

.van-col--15 {
    width: 62.5%
}

.van-col--offset-15 {
    margin-left: 62.5%
}

.van-col--16 {
    width: 66.66666667%
}

.van-col--offset-16 {
    margin-left: 66.66666667%
}

.van-col--17 {
    width: 70.83333333%
}

.van-col--offset-17 {
    margin-left: 70.83333333%
}

.van-col--18 {
    width: 75%
}

.van-col--offset-18 {
    margin-left: 75%
}

.van-col--19 {
    width: 79.16666667%
}

.van-col--offset-19 {
    margin-left: 79.16666667%
}

.van-col--20 {
    width: 83.33333333%
}

.van-col--offset-20 {
    margin-left: 83.33333333%
}

.van-col--21 {
    width: 87.5%
}

.van-col--offset-21 {
    margin-left: 87.5%
}

.van-col--22 {
    width: 91.66666667%
}

.van-col--offset-22 {
    margin-left: 91.66666667%
}

.van-col--23 {
    width: 95.83333333%
}

.van-col--offset-23 {
    margin-left: 95.83333333%
}

.van-col--24 {
    width: 100%
}

.van-col--offset-24 {
    margin-left: 100%
}

.van-count-down {
    color: #323233;
    font-size: 14px;
    line-height: 20px
}

.van-divider {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    border: 0 solid #ebedf0;
    color: #969799;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: 14px;
    line-height: 24px;
    margin: 16px 0
}

.van-divider:after, .van-divider:before {
    -webkit-box-flex: 1;
    border-color: inherit;
    border-style: inherit;
    border-width: 1px 0 0;
    box-sizing: border-box;
    display: block;
    -webkit-flex: 1;
    flex: 1;
    height: 1px
}

.van-divider:before {
    content: ""
}

.van-divider--hairline:after, .van-divider--hairline:before {
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.van-divider--dashed {
    border-style: dashed
}

.van-divider--content-center:before, .van-divider--content-left:before, .van-divider--content-right:before {
    margin-right: 16px
}

.van-divider--content-center:after, .van-divider--content-left:after, .van-divider--content-right:after {
    content: "";
    margin-left: 16px
}

.van-divider--content-left:before, .van-divider--content-right:after {
    max-width: 10%
}

.van-dropdown-menu {
    -webkit-user-select: none;
    user-select: none
}

.van-dropdown-menu__bar {
    background-color: #fff;
    box-shadow: 0 2px 12px hsla(210, 1%, 40%, .12);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 48px;
    position: relative
}

.van-dropdown-menu__bar--opened {
    z-index: 11
}

.van-dropdown-menu__item {
    -webkit-box-flex: 1;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex: 1;
    flex: 1;
    -webkit-justify-content: center;
    justify-content: center;
    min-width: 0
}

body pre {
    font-family: inherit;
    font-size: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px
}

*, :after, :before {
    box-sizing: border-box;
    margin: 0
}

.flex {
    display: flex
}

.flex-1 {
    flex: 1
}

.flex-col {
    flex-direction: column
}

.flex-row {
    flex-direction: row
}

.justify-center {
    justify-content: center
}

.justify-start {
    justify-content: start
}

.justify-end {
    justify-content: end
}

.justify-between {
    justify-content: space-between
}

.justify-around {
    justify-content: space-around
}

.items-center {
    align-items: center
}

.items-start {
    align-items: flex-start
}

.items-end {
    align-items: flex-end
}

.text-center {
    text-align: center
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

.fixed {
    position: fixed
}

.w-full {
    width: 100%
}

.h-full {
    height: 100%
}

.bold {
    font-weight: 700
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

input:focus {
    border: none !important;
    outline: none !important;
    outline-offset: 2px
}

input::-moz-placeholder {
    color: rgba(26, 26, 26, .8)
}

input::placeholder {
    color: rgba(26, 26, 26, .8)
}

.input-autofill {
    border: 1px solid hsla(0, 0%, 100%, .1)
}

.input-autofill:-webkit-autofill {
    -webkit-text-fill-color: #1a1a1a;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 1000px #fff
}

body {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre {
    font-family: inherit;
    font-size: inherit
}

.tasks-page {
    background: #35C75A;
    color: #1a1a1a;
    min-height: 100vh
}

.tasks-page-content {
    padding: 60px 16px 16px
}

.tasks-page-content-item {
    background: #fff;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 16px;
    padding: 16px
}

.tasks-page-content-item button {
    font-size: 12px !important;
    height: 40px !important
}

.tasks-page-content-item-title {
    margin-top: 20px
}

.tasks-page-content-item-title .title {
    font-weight: 700
}

.tasks-page-content-item .description {
    font-size: 10px;
    margin-bottom: 12px;
    margin-top: 8px
}

.tasks-page-content-item .tips {
    font-size: 10px
}

.tasks-page-content-item .completion {
    text-align: right
}

.tasks-page-content-item .progress-content {
    margin-top: 16px
}

.tasks-page-content-item .progress-content .progress-bar, .tasks-page-content-item .progress-content .progress-value {
    background-color: #e1e1e1
}

.tasks-page-content-item .progress-content .progress-value.completed {
    background-color: #35C75A
}

body[data-v-3d9a385b] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-3d9a385b] {
    font-family: inherit;
    font-size: inherit
}

.button[data-v-3d9a385b] {
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    height: 54px;
    padding: 10px 20px
}

.button .nexticon[data-v-3d9a385b] {
    background: #fff;
    background: var(--ffffff, #fff);
    border-radius: 60px;
    padding: 6px;
    right: 6px;
    top: auto
}

.button.small[data-v-3d9a385b] {
    border-radius: 52px;
    height: 48px
}

.button.large[data-v-3d9a385b] {
    height: 60px
}

.button.disabled[data-v-3d9a385b] {
    background-color: rgba(77, 83, 86, .5);
    color: #fff
}

.button.button-primary[data-v-3d9a385b]:not(.disabled) {
    background: #35C75A;
    color: #fff
}

.button.button-primary[data-v-3d9a385b]:not(.disabled):hover {
    background-color: rgba(0, 0, 160, .5);
    color: #fff
}

.button.button-secondary[data-v-3d9a385b]:not(.disabled) {
    background-color: rgba(0, 0, 160, .2);
    color: #35C75A
}

.button.button-secondary[data-v-3d9a385b]:not(.disabled):hover {
    background-color: #35C75A;
    color: #fff
}

.button.button-dashed[data-v-3d9a385b]:not(.disabled) {
    background-color: rgba(0, 0, 160, .1);
    color: #35C75A
}

.button.button-link[data-v-3d9a385b] {
    background-color: inherit;
    color: #35C75A;
    -webkit-text-decoration: underline;
    text-decoration: underline
}

.button.button-link[data-v-3d9a385b]:disabled {
    color: rgba(77, 83, 86, .5)
}

.button.button-text[data-v-3d9a385b] {
    background-color: inherit;
    color: #35C75A
}

.button.button-text[data-v-3d9a385b]:disabled {
    color: rgba(77, 83, 86, .5)
}
body[data-v-3d11c917] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-3d11c917] {
    font-family: inherit;
    font-size: inherit
}

.header-wrapper[data-v-3d11c917] {
    z-index: 10
}

.header[data-v-3d11c917] {
    background: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 56px;
    padding: 32px 16px 16px
}

.header.light[data-v-3d11c917] {
    background: #073692;
    color: #fff
}

.header.dark[data-v-3d11c917] {
    background: #eaeeff;
    color: #1a1a1a
}

.header.primary[data-v-3d11c917] {
    background: #35C75A;
    color: #fff
}

.left[data-v-3d11c917] {
    left: 12px;
    top: 24px
}

.right[data-v-3d11c917] {
    right: 12px;
    top: auto
}

.title[data-v-3d11c917] {
    font-size: 20px;
    text-align: center
}

body[data-v-5ac35242] {
    color: #1a1a1a;
    font-family: "Arial"
}

body pre[data-v-5ac35242] {
    font-family: inherit;
    font-size: inherit
}

.progress-bar[data-v-5ac35242] {
    background-color: #e7e1ff;
    border-radius: 8px;
    color: #1a1a1a;
    height: 8px;
    margin-bottom: 10px;
    overflow: hidden;
    width: 100%
}

.progress-value[data-v-5ac35242] {
    height: 100%
}

.progress-value[data-v-5ac35242], .progress-value.completed[data-v-5ac35242] {
    background-color: #35C75A
}

.progress .current[data-v-5ac35242], .progress .total[data-v-5ac35242] {
    color: #fff;
    right: 0;
    top: 0
}

.progress .total[data-v-5ac35242] {
    z-index: 2
}
