.FixBTeam a img{
    animation: none;
    -webkit-animation: none;
}
.my_circule {
    background-color: rgba(255,255,255,0.01);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: fixed;
    top: -85px;
    left: -180px;
    z-index: -0;
}
/**Sld**S**/

.container {
    max-width: 1140px;
    margin: 0 auto;
}

#basicSliderOuter {
    position: relative;
    max-width: 1140px;
    margin: 2px 5px;
}

#basicSlider {
    min-height: 10px;
    /* height: 50px; */
    position: relative;
    overflow: hidden;
    border-right: none;
    border-left: none;
    background: rgba(255,255,255,0.01);
    border-radius: 5px;
}

#basicSlider>ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

#basicSlider>ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    max-width: 1140px;
    text-align: left;
}

.slideBtns {
    box-shadow: 0 0 8px 1px #f2797f;
}

#slideBtns span {
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px 10px 10px 0;
    background: #add138;
}
.my_text_sld{
    text-align: center;
    display: block;
    align-items: center;
    padding: 5px;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    font-family: 'Kanit', 'Poppins', 'Lato', Calibri, Arial, sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #fff;
    background: linear-gradient(270deg, var(--t6) 0%, var(--t3) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2); */
}

@media (max-width: 1310px) {

    #basicSlider ul li .inside-slide {
        padding: 0;
    }
}
.pte_ind_sld{
	overflow:hidden;
	box-shadow:0px 2px 5px 0.05px rgb(0 0 0 / 20%);
	margin:10px;
	border-radius:10px;
  animation: fadeInRight 0.2s linear;
	margin-top:0px;
}
.owl-item img, .full-img {
	max-width: none;
	width:100%;
	height:150px;
	/*border-radius:7px;*/
    /*filter: hue-rotate(295deg);*/
    display: block;
}  

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* CSS3 Transitions */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}
/* fade */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}
/* backSlide */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}
/* goDown */
.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}
.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}
/* scaleUp */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}
/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes backSlideOut {
  25% { opacity: .5; -webkit-transform: translateZ(-500px); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(-200%); }
}
@-moz-keyframes backSlideOut {
  25% { opacity: .5; -moz-transform: translateZ(-500px); }
  75% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; -moz-transform: translateZ(-500px) translateX(-200%); }
}
@keyframes backSlideOut {
  25% { opacity: .5; transform: translateZ(-500px); }
  75% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
  100% { opacity: .5; transform: translateZ(-500px) translateX(-200%); }
}
@-webkit-keyframes backSlideIn {
  0%, 25% { opacity: .5; -webkit-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -webkit-transform: translateZ(-500px); }
  100% { opacity: 1; -webkit-transform: translateZ(0) translateX(0); }
}
@-moz-keyframes backSlideIn {
  0%, 25% { opacity: .5; -moz-transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; -moz-transform: translateZ(-500px); }
  100% { opacity: 1; -moz-transform: translateZ(0) translateX(0); }
}
@keyframes backSlideIn {
  0%, 25% { opacity: .5; transform: translateZ(-500px) translateX(200%); }
  75% { opacity: .5; transform: translateZ(-500px); }
  100% { opacity: 1; transform: translateZ(0) translateX(0); }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}
@-webkit-keyframes goDown {
  from { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes goDown {
  from { -moz-transform: translateY(-100%); }
}
@keyframes goDown {
  from { transform: translateY(-100%); }
}

@-webkit-keyframes scaleUpFrom {
  from { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpFrom {
  from { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpFrom {
  from { opacity: 0; transform: scale(1.5); }
}

@-webkit-keyframes scaleUpTo {
  to { opacity: 0; -webkit-transform: scale(1.5); }
}
@-moz-keyframes scaleUpTo {
  to { opacity: 0; -moz-transform: scale(1.5); }
}
@keyframes scaleUpTo {
  to { opacity: 0; transform: scale(1.5); }
}
.owl-theme .owl-controls{
	margin-top: 10px;
	text-align: center;
}


.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;

	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.owl-item.loading{
	min-height: 150px;
	background: url(../img/loding.gif) no-repeat center center
}
.top-nav li a {
	border-top: 2px solid #00283a;
	color: #fff;
	font-size: 0.80em;
	font-weight: 600;
	padding: 2.1em 1.5em 2.5em;
	text-transform: uppercase;
	transition: all 0.20s linear 0s;
	-o-transition: all 0.20s linear 0s;
	-ms-transition: all 0.20s linear 0s;
	-moz-transition: all 0.20s linear 0s;
	-webkit-transition: all 0.20s linear 0s;
}
.top-nav li a:hover, .top-nav li.active-item a {
	background: none repeat scroll 0 0 #00283a;
	border-top: 2px solid #92c500;
	color: #92c500;
	position: relative;
}

#carousel .text {
	position: absolute;
	top: 50%;
	z-index: 10;
}
.item {
	overflow: hidden;
	width: 100%;
}
#carousel .text h2 {
	background: none repeat scroll 0 0 rgba(146, 197, 0, 0.8);
	color: #fff;
	display: inline-block;
	font-size: 2em;
	font-weight: 300;
	margin: 1px 0;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
}
#carousel .text p {
	background: none repeat scroll 0 0 #00283a;
	color: #fff;
	max-width: 600px;
	padding: 10px 20px;
	width: 100%;
}
#carousel .owl-theme .owl-controls {
	background: none repeat scroll 0 0 rgba(255,255,255,0.2);
	bottom: 0;
	margin: 0;
	padding: 0.625em 0;
	position: absolute;
	width: 100%;
}
.owl-theme .owl-controls .owl-page span {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	/*border: 3px solid #060;*/
	height: 18px;
	margin: 0 0.3125em;
	opacity: 1;
	width: 18px;
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
	background: none repeat scroll 0 0 #008000;
}


@media screen and (max-width: 768px) {
  .top-nav li a {
  	background: #05374e none repeat scroll 0 0;
  }
  #carousel .text {
  	font-size: 0.8em;
  	top: 20%;
  }
  .owl-controls.clickable {
  	display: none!important;
  }
  .right {
  	float: none;
  }
  .social.right {
  	float: right;
  }
  #about-us article {
  	padding: 4em 2.5em;
  }
}
@media screen and (max-width: 480px) {
  #topbar {
  	line-height: 1.625em;
  	text-align: center;
  }
  .social.right {
  	float: none;
  }
  p.logo, p.nav-text {
  	text-align: center;
  }
}



.prev-arrow{
	float:left;
	background:url(../img/arro5.png) no-repeat center;
}
.next-arrow{
	float:right;
	background:url(../img/arro2.png) no-repeat center;
}
.prev-arrow:hover, .next-arrow:hover{
	opacity:1;
	cursor:pointer;
}
.prev-arrow, .next-arrow{
	overflow:hidden;
	width:80px;
	height:80px;
	background-size:contain;
	margin:5px;
	opacity:0.6;
}
.sv_full_sld_np{
	overflow:hidden;
	position:absolute;
	width:100%;
	top:50%;
	z-index:9;
	display:none;
	margin-top:-50px;
}
#carousel:hover .sv_full_sld_np{
	display:block;
}


/**Override**/
#carousel .owl-theme .owl-controls{
	/*bottom: -30px;*/
	background:none;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
   /* border: 2px solid #CCC;*/
    height: 8px;
    margin: 0 0.3125em;
    opacity: 1;
    width: 8px;
	transition:ease-in-out 0.2s all;
	vertical-align:middle;
	background-color:rgba(0,0,0,0.5);
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: none repeat scroll 0 0 #006AD5;
	border-color:#0061C1;
    width: 8px;
    height: 8px;
	vertical-align:middle;
	margin-bottom:-1px;
}

/**Sld**E**/

.my_userdata{
    padding: 10px;
    display: flex;
}
.my_userdata section{
    flex: 1;
    margin: 0px 5px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
}
.my_userdata section h5{
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 10px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.my_userdata section h5 i{
    font-size: 12px;
    margin-right: 2px;
}
.my_userdata section h2{
    color: var(--t3);
    font-size: 22px;
    font-weight: 400;
    padding-bottom: 20px;
    opacity: 0.9;
}
.my_userdata td{
    width: 50%;
}
.my_userdata td h3{
    color: #2196f3;
}
/**CartMsg**S**/
.my_cart{
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.1);
	z-index:500;
	position:absolute;
	-webkit-animation: fadeInLeft 0.2s alternate;
	        animation: fadeInLeft 0.2s alternate;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
.my_cart_in{
    top: 50%;
    left: 50%;
    width: 85%;
	position:absolute;
	background:#FFF;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
	-webkit-box-shadow: 0px 0px 10px 3px rgb(51 51 51 / 10%);
	        box-shadow: 0px 0px 10px 3px rgb(51 51 51 / 10%);
	border-radius:5px;
    overflow: hidden;
    background: linear-gradient(270deg, #43e97b 0%, #38f9d7 50%, #fa8bff 100%);
    background-size: 400% 400%;
    animation: cartGradientBG 60s ease infinite;
}
@keyframes cartGradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.my_cart_in h4{
	position:absolute;
	top:0px;
	right:0px;
	width:40px;
	height:40px;
	line-height:40px;
	font-size:24px;
	color:#ca0000;
}
.my_cart_in h2{
	display:block;
	font-size:24px;
	padding:12px;
	color:#ffffff;
    background-color: rgba(0, 0, 0, 0.06);
}
.my_cart_in h2 span{
    text-shadow: 2px 4px 8px rgba(76,76,76,0.25);
}

.my_cart_btn{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
    padding: 5px;
}
.my_cart_btn button{
	-webkit-box-flex:1;
	    -ms-flex:1;
	        flex:1;
	border:none;
	outline:none;
	font-size:18px;
	padding:10px 0px;
	/* overflow:hidden; */
	position:relative;
    cursor: pointer;
    margin: 5px;
    -webkit-box-shadow: 0px 2px 5px 0.05px rgb(0 0 0 / 20%);
    box-shadow: 2px 2px 5px 0.05px rgb(0 0 0 / 20%);
}
.my_cart_btn button:last-child{
	background:#0984FF;
	color:#fff;
	/* overflow:hidden; */
}
/**CartMsg**E**/

/**AppInfo**S**/

.AppInfo{
    position: fixed;
}
.AppInfo .my_cart_in h2{
    color: #000;
    background-color: #fff;
}
.AppInfo .my_cart_in{
    overflow-x: hidden;
    overflow-y: auto;
    height: 90%;
    background: linear-gradient(0deg, #ffffff, #0f0f0f);
}
.my_app_info{
    padding: 10px;
}
.my_app_info section{
    flex: 1;
}
.my_app_info section dl{
    overflow: hidden;
}
.my_app_info section dl img{
    display: block;
    width: 100%;
    border-radius: 7px;
}
.my_app_info section dd{
    font-size: 16px;
    color: #f8de00;
    padding: 5px 0;
    font-weight: 600;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.25);
    padding-top: 8px;
}
.my_cart_btn button{
    background-color: #0C3;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.AppInfo .my_cart_btn button{
    background: linear-gradient(90deg, #ff9800 0%, #ff5722 100%);
    color: #fff;
}
/**AppInfo**E**/
.my_copy{    
    padding: 15px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}