@media screen and (max-width:931px){
	/*Slider**S**/
	/*Slider**E**/
	/*Hide**S**/
	/*Hide**E**/
	/*Index**E**/
	/*Index**E**/
	/*Other**S**/
	.give_error_no, .give_error_yes {
		width: 75%;
	}
	/*Other**E**/
	/*Menu**S**/
	/*Menu**E**/
}